# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  name: Uipath-Dev

steps:
- task: UiPathPack@3
  inputs:
    versionType: 'AutoVersion'
    projectJsonPath: '$(Build.SourcesDirectory)/project.json'
    orchestratorConnection: 'UipathDev'
    outputPath: '$(Build.ArtifactStagingDirectory)/Output'

- task: UiPathDeploy@3
  inputs:
    orchestratorConnection: 'UipathDev'
    packagesPath: '$(Build.ArtifactStagingDirectory)/Output'
    folderName: 'Shared'

- task: UiPathTest@3
  inputs:
    testTarget: 'TestProject'
    orchestratorConnection: 'UipathDev'
    testProjectPath: '$(Build.ArtifactStagingDirectory)/Output'
    folderName: 'Shared'

